<!-- Adding an input form -->
<!-- This is a single data binding method using event binding ()-->
<!-- <input class="form-control" placeholder="Server Name" (input)="onUpdateServerName($event)"> -->

<input class="form-control" placeholder="Server Name" [(ngModel)]="serverName">

<!-- button to add server -->
<button class="btn btn-primary" [disabled]="!allowNewServer"
(click)="onCreateNewServer()">Add Server</button>
<!-- If statement -->
<p *ngIf="newServerCreated">A Server was created, the server name is {{serverName}}</p>
<app-server></app-server>
<app-server></app-server>
